exportPattern("^[^\\.]")
import(grid)
import(lattice)
import(deSolve)
import(utils)
import(optimbase)
import(optimsimplex)
import(neldermead)
importFrom("grDevices", "dev.new", "dev.off", "pdf")
importFrom("graphics", "par")
importFrom("stats", "approx", "qt", "reshape")
